<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SemsterProject.Properties.Settings.StoreSystemConnectionString"
            connectionString="Data Source=DESKTOP-MJRJVV8\SQLEXPRESS19;Initial Catalog=StoreSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SemsterProject.Properties.Settings.SalesSystemConnectionString"
            connectionString="Data Source=DESKTOP-MJRJVV8\SQLEXPRESS19;Initial Catalog=SalesSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>